body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #0f0c29;
    color: white;
    text-align: center;
}

/* Hero Section */
.hero {
    padding: 70px 20px;
    background: linear-gradient(135deg, #ff00cc, #3333ff);
}

/* Profile Image */

.profile {
    width: 60px !important;
    height: 60px !important;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 10px auto;
    border: 2px solid white;
}
/* Tagline */

tagline {
    margin-top: 10px;
}

/* Button */
.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 25px;
    background: white;
    color: #ff00cc;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #ff00cc;
    color: white;
}

/* Sections */
.section {
    padding: 50px 20px;
}

/* Cards */
.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background: #1e1e2f;
    padding: 20px;
    border-radius: 15px;
    width: 220px;
    transition: 0.3s;
    box-shadow: 0px 0px 10px #000;
}

.card:hover {
    transform: scale(1.05);
    background: #ff00cc;
}